<a href="https://colab.research.google.com/github/PrernaMakwana/Employee_data/blob/main/NN_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [5]:
df = pd.read_csv("concrete_data.csv")
df

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [6]:
df.describe()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
df.shape

(1030, 9)

In [8]:
# check if there is any missing data
df.isnull().sum()

cement                           0
blast_furnace_slag               0
fly_ash                          0
water                            0
superplasticizer                 0
coarse_aggregate                 0
fine_aggregate                   0
age                              0
concrete_compressive_strength    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cement                         1030 non-null   float64
 1   blast_furnace_slag             1030 non-null   float64
 2   fly_ash                        1030 non-null   float64
 3   water                          1030 non-null   float64
 4   superplasticizer               1030 non-null   float64
 5   coarse_aggregate               1030 non-null   float64
 6   fine_aggregate                 1030 non-null   float64
 7   age                            1030 non-null   int64
 8   concrete_compressive_strength  1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [10]:
x=df.drop('concrete_compressive_strength',axis=1)
y=df["concrete_compressive_strength"]

HERE THE DATA IS ABOUT THE STRENGTH OF CONCRETE USING THE DIFFERENT MIXTURES AND DIFFERENT QUANTITIES OF THE MIXTURES. THIS IS A REGRESSION PROBLEM. REGRESSION ANALYSIS IS USED TO ESTIMATE THE RELATION BETWEEN THE OUTPUT WITH ONE OR MORE INPUT. **bold text**

In [33]:
x

array([[ 2.47791487, -0.85688789, -0.84714393, ...,  0.86315424,
        -1.21767004, -0.27973311],
       [ 2.47791487, -0.85688789, -0.84714393, ...,  1.05616419,
        -1.21767004, -0.27973311],
       [ 0.49142531,  0.79552649, -0.84714393, ..., -0.52651741,
        -2.24091709,  3.55306569],
       ...,
       [-1.27008832,  0.75957923,  0.85063487, ..., -1.03606368,
         0.0801067 , -0.27973311],
       [-1.16860982,  1.30806485, -0.84714393, ...,  0.21464081,
         0.19116644, -0.27973311],
       [-0.19403325,  0.30849909,  0.3769452 , ..., -1.39506219,
        -0.15074782, -0.27973311]])

In [12]:
y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: concrete_compressive_strength, Length: 1030, dtype: float64

In [13]:

#now we will apply standard scaler on i/p x
from sklearn.preprocessing import StandardScaler
#create obj of standard scaler class
ss=StandardScaler()
x=ss.fit_transform(x)
x

#as this is a regression model we will now create a neural network using keras

array([[ 2.47791487, -0.85688789, -0.84714393, ...,  0.86315424,
        -1.21767004, -0.27973311],
       [ 2.47791487, -0.85688789, -0.84714393, ...,  1.05616419,
        -1.21767004, -0.27973311],
       [ 0.49142531,  0.79552649, -0.84714393, ..., -0.52651741,
        -2.24091709,  3.55306569],
       ...,
       [-1.27008832,  0.75957923,  0.85063487, ..., -1.03606368,
         0.0801067 , -0.27973311],
       [-1.16860982,  1.30806485, -0.84714393, ...,  0.21464081,
         0.19116644, -0.27973311],
       [-0.19403325,  0.30849909,  0.3769452 , ..., -1.39506219,
        -0.15074782, -0.27973311]])

In [14]:
#splitting data into training n testing
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [29]:
#create model
model = Sequential()
#create hidden layers
model.add(Dense(128, input_dim=8, activation="relu"))
model.add(Dense(64, activation="relu"))
model.add(Dense(64, activation="relu"))
model.add(Dense(32, activation="relu"))
model.add(Dense(1))

#finding the loss function using mse: mean squared error

model.compile(optimizer="adam",loss="mse")
model.fit(x_train,y_train, epochs=20, batch_size=14)

Epoch 1/20
52/52 [==============================] - 73s 2ms/step - loss: 1184.4675
Epoch 2/20
52/52 [==============================] - 0s 3ms/step - loss: 228.6504
Epoch 3/20
52/52 [==============================] - 0s 2ms/step - loss: 177.3669
Epoch 4/20
52/52 [==============================] - 0s 2ms/step - loss: 156.0910
Epoch 5/20
52/52 [==============================] - 0s 2ms/step - loss: 144.4635
Epoch 6/20
52/52 [==============================] - 0s 3ms/step - loss: 131.4027
Epoch 7/20
52/52 [==============================] - 0s 2ms/step - loss: 120.3740
Epoch 8/20
52/52 [==============================] - 0s 2ms/step - loss: 102.2824
Epoch 9/20
52/52 [==============================] - 0s 2ms/step - loss: 86.8250
Epoch 10/20
52/52 [==============================] - 0s 2ms/step - loss: 74.5861
Epoch 11/20
52/52 [==============================] - 0s 2ms/step - loss: 60.0924
Epoch 12/20
52/52 [==============================] - 0s 2ms/step - loss: 51.2518
Epoch 13/20
52/52 [==============================] - 0s 2ms/step - loss: 46.4601
Epoch 14/20
52/52 [==============================] - 0s 2ms/step - loss: 43.0307
Epoch 15/20
52/52 [==============================] - 0s 2ms/step - loss: 38.7663
Epoch 16/20
52/52 [==============================] - 0s 2ms/step - loss: 37.6700
Epoch 17/20
52/52 [==============================] - 0s 2ms/step - loss: 33.9009
Epoch 18/20
52/52 [==============================] - 0s 2ms/step - loss: 32.3073
Epoch 19/20
52/52 [==============================] - 0s 2ms/step - loss: 29.9556
Epoch 20/20
52/52 [==============================] - 0s 2ms/step - loss: 30.7626

In [59]:
x_train.shape

(721, 8)

In [31]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [32]:
y_pred = model.predict(x_test)

print("mse - ",mean_squared_error(y_test,y_pred)) 
print("mae - ",mean_absolute_error(y_test,y_pred))

10/10 [==============================] - 0s 2ms/step
mse -  47.48631868418624
mae -  5.094967165950047